/*
* CSS Rework
* Things appear in used order.
*/

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*
* Sidebar
*/

nav {
  text-align: center;
}

/*
* Articles
*/

main {
  padding: 2rem;
  text-align: justify;
}

img {
  max-width: 100%;
}

article {
  padding-bottom: 1rem;
}

header hr {
  height: 2px;
  background-image: linear-gradient(to right, #cf9050, #db84d7);
  border: 0;
}

header h1 {
  font-size: 2rem;
}

ul {
  padding-left: 1.5rem;
}

.bibliography {
  text-align: left;
  padding-left: 0.4rem;
}

.bibliography li {
  padding: 0.2rem 0 0.2rem 0;
}

.bibliography li::marker {
  content: "";
}

.bibliography li::before {
  color: gray;
  content: "\25B8";
}

.bibliography h4 {
  margin-bottom: 0.4rem;
}

/*
* Breakpoints reference from
* https://getbootstrap.com/docs/4.5/layout/overview/
* // TODO: move the responsive stuff into these
*/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
    max-width: 372px;
    margin-right: auto;
    margin-left: auto;
  }

  .sidebar-container {
    max-width: 280px;
    margin-right: auto;
    margin-left: auto;
  }

  .sidebar {
    padding-bottom: 2rem !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
  }

  .sidebar-container {
    max-width: 280px;
    margin-right: auto;
    margin-left: auto;
  }

  .sidebar {
    padding-bottom: 2rem !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .sidebar {
    width: 192px;
    position: fixed;
    height: 100vh;
    padding: 0 !important;
  }

  .container {
    width: 508px;
    margin-right: auto;
    margin-left: auto;
  }

  .wrapper {
    margin-left: 192px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .sidebar {
    width: 248px;
    position: fixed;
    height: 100vh;
    padding: 0 !important;
  }

  .container {
    width: 672px;
    margin-right: auto;
    margin-left: auto;
  }

  .wrapper {
    margin-left: 248px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .sidebar {
    width: 300px;
    position: fixed;
    height: 100vh;
    padding: 0 !important;
  }

  .container {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
  }

  .wrapper {
    margin-left: 300px;
  }
}

/*
* Old CSS below
*/

/*
* Media rule to make columns 100% width below 576px. This makes it so that
* mobile devices and small width viewports wont get a sidebar. Very similar
* to bootstrap, just with less breakpoints.
* https://www.w3schools.com/css/css_rwd_mediaqueries.asp
*/

@media (min-width: 768px) {
  .col-1 {
    width: 25%;
  }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    clear: both;
    display: table;
  }

  .sidebar img {
    width: 50% !important;
  }
}

.sidebar {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 1px 0 1px 0; /* For some reason 0px makes this look weird */
}

.sidebar img {
  width: 10rem;
  margin-top: 1.5rem;
}

.sidebar h3 {
  margin: 1.5rem 0 1.5rem 0;
}

nav a {
  display: block;
  color: white !important;
  padding: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-box {
  border-radius: 5px;
  margin: 0 1rem 1rem 1rem;
  background-color: #353b46;
}

.nav-active {
  background-image: linear-gradient(to bottom, #ca6351, #ca5b6d);
}

.nav-hr {
  margin: 1rem 0 1rem 0;
  color: #434;
}

.sublinks {
  padding: 8px 0 8px 0;
}

.sublinks a {
  text-align: start;
  line-height: 0.4rem;
  font-size: 14px;
}

.sublinks a::before {
  content: "\2022  ";
}

.text-muted {
  color: #888;
  text-decoration: none;
}

form {
  width: 100%;
}

form label {
  width: 100%;
}

form textarea {
  resize: vertical;
  padding: 1%;
  height: 8rem;
}

.textbox {
  width: 98%;
  margin-bottom: 1rem;
}

.text-monospace {
  font-family: monospace;
  background-color: #eee;
  padding: 0.25rem 0.4rem;
  border-radius: 0.25rem;
}

.terminal-ul {
  font-family: monospace;
  background-color: #eee;
  padding: 0.6rem 1.2rem;
  border-radius: 0.25rem;
}

.terminal-ul li::marker {
  content: "";
}

.terminal-ul li::before {
  content: "$ ";
}

a {
  color: #444;
  text-decoration: none;
}

a:visited {
  color: #666;
}

a:hover {
  text-decoration: underline;
}

/*
* CSS to keep footer down
* https://matthewjamestaylor.com/bottom-footer
*/

.wrapper {
  min-height: 100vh;
  position: relative;
  word-wrap: break-word;

  /* this line demonstrates a bug with the sidebar
  background-color: #f9f9f9;*/
}

main {
  padding-bottom: 4rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
}
