body {
  overflow-x: hidden;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  padding: 0 !important;
}

.bg-gradient-primary-lr {
  background: #2d7cd1;
  background: linear-gradient(135deg, #2d7cd1 0%, #00ff95 100%);
}

.repo-img .fa-icon {
  height: 2rem;
}

.fadein {
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img-wrapper {
  position: relative;
  width: 100%;
  padding-top: 50%;
}

.img-wrapper img {
  position: absolute;
  top: 0;
}

.card-footer-unstyle {
  padding: 1rem 0.5rem !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border-top: none !important;
}

.account-flex {
  display: flex;
}

.account-image {
  height: 16rem;
  border-radius: 0.25rem 0 0 0.25rem !important;
}

@media (max-width: 575.98px) {
  .account-flex {
    flex-direction: column;
  }

  .account-image {
    height: auto;
    width: 100%;

    border-radius: 0.25rem 0.25rem 0 0 !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .account-image {
    height: 12rem;
  }
}

hr {
  border-top: 0;
  height: 4px !important;
  border-radius: 0.25rem !important;
  opacity: 1 !important;
}
