/*
* CSS Rework
* // TODO replace @media blocks with those that apply for each module
* i.e. Sidebar, Articles, Main, Form
*/

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  font-family: "Montserrat", sans-serif;
}

/*
* Global
*/

ul {
  padding-left: 1.5rem;
}

a {
  color: #444;
  text-decoration: none;
}

a:visited {
  color: #666;
}

a:hover {
  text-decoration: underline;
}

textarea {
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
}

.text-muted {
  color: grey;
}

.text-muted a {
  text-decoration: underline;
}

.slight-cyan {
  color: #187c7c;
}

/*
* Sidebar
*/

nav {
  text-align: center;
}

.sidebar {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 1px 0 1px 0; /* For some reason 0px makes this look weird */
}

.sidebar img {
  width: 10rem;
  margin-top: 1.5rem;
}

.sidebar h3 {
  margin: 1.5rem 0 1.5rem 0;
}

nav a {
  display: block;
  color: white !important;
  padding: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-box {
  border-radius: 5px;
  margin: 0 1rem 1rem 1rem;
  background-color: #353b46;
}

.nav-active {
  background-image: linear-gradient(to bottom, #ca6351, #ca5b6d);
}

.nav-hr {
  margin: 1rem 0 1rem 0;
  color: #434;
}

/*
* Body
*/

main {
  padding: 2rem;
  text-align: justify;
}

/*
* Articles
*/

header h1 {
  font-size: 2rem;
  text-align: left;
  margin: 0;
  padding: 3rem 0 2rem 0;
}

header hr {
  height: 2px;
  background-image: linear-gradient(to right, #cf9050, #db84d7);
  border: 0;
}

header h5 {
  color: #888;
}

img {
  max-width: 100%;
}

code {
  font-family: "Fira Code", monospace;
}

.terminal-ul {
  font-family: "Fira Code", monospace;
  background-image: linear-gradient(to right, #ebd0cc, #f0ced3);
  padding: 0.6rem 1.2rem;
  border-radius: 0.25rem;
  text-align: initial;
}

.terminal-ul li::marker {
  content: "";
}

.terminal-ul li::before {
  content: "$ ";
}

.video-container {
  width: 100%;
  padding-top: 56.25%;
  position: relative; /* If you want text inside of it */
  margin-bottom: 2rem;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.table {
  width: 100%;
}

.table td {
  border: solid 1px #bbb;
  border-radius: 0.25rem;
}

.bibliography {
  text-align: left;
  padding-left: 0.4rem;
}

.bibliography li {
  padding: 0.2rem 0 0.2rem 0;
}

.bibliography li::marker {
  content: "";
}

.bibliography li::before {
  color: gray;
  content: "\25B8";
}

.bibliography h4 {
  margin-bottom: 0.4rem;
}

/*
* Flexbox
*/

.flex-demo-pad {
  margin: 2rem 0;
}

.flex-container {
  display: flex;
}

.flex {
  flex-grow: 1;
  margin: 0 1rem;
}

.flex input {
  width: 100%;
  margin-bottom: 1rem;
}

.flex img {
  width: 30%;
  padding-bottom: 0.5rem;
}

.flex-style {
  padding: 0.5rem;
  border-radius: 0.75rem;
  background-color: white;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #bbb;
}

.flex-demo-button {
  margin: 0 1rem;
  height: 2rem;
}

/*
* Form
*/

form {
  width: 100%;
}

form label {
  width: 100%;
}

select {
  width: 100%;
}

form textarea {
  resize: vertical;
  padding: 1%;
  height: 8rem;
  width: 100%;
  margin-bottom: 1rem;
}

/*
* Footer
*/

.wrapper {
  min-height: 100vh;
  position: relative;
  word-wrap: break-word;
}

main {
  padding-bottom: 4rem;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 0 1rem 0;
}

/*
* Breakpoints reference from
* https://getbootstrap.com/docs/4.5/layout/overview/
*/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
    width: 372px;
    margin-right: auto;
    margin-left: auto;
  }

  .sidebar-container {
    width: 280px;
    margin-right: auto;
    margin-left: auto;
  }

  .sidebar {
    padding-bottom: 2rem !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
  }

  .sidebar-container {
    width: 280px;
    margin-right: auto;
    margin-left: auto;
  }

  .sidebar {
    padding-bottom: 2rem !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .sidebar {
    width: 192px;
    position: fixed;
    height: 100vh;
    padding: 0 !important;
  }

  .container {
    width: 508px;
    margin-right: auto;
    margin-left: auto;
  }

  .sidebar-container {
    width: 192px;
    margin-right: auto;
    margin-left: auto;
  }

  .wrapper {
    margin-left: 192px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .sidebar {
    width: 248px;
    position: fixed;
    height: 100vh;
    padding: 0 !important;
  }

  .container {
    width: 672px;
    margin-right: auto;
    margin-left: auto;
  }

  .sidebar-container {
    width: 248px;
    margin-right: auto;
    margin-left: auto;
  }

  .wrapper {
    margin-left: 248px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .sidebar {
    width: 300px;
    position: fixed;
    height: 100vh;
    padding: 0 !important;
  }

  .container {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
  }

  .sidebar-container {
    width: 248px;
    margin-right: auto;
    margin-left: auto;
  }

  .wrapper {
    margin-left: 300px;
  }
}
